/* header.css */

/* ヘッダーのスタイリング */
.navbar {
    width: 100%;                /* ヘッダーの幅を100%に設定 */
    position: fixed;            /* ヘッダーを固定 */
    top: 0;                     /* ヘッダーをページの上部に配置 */
    left: 0;                    /* ヘッダーをページの左端に配置 */
    z-index: 1000;              /* ヘッダーが他の要素の上に表示されるようにする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ヘッダーに影を追加 */
    border-radius: 8px;         /* ヘッダーの角を丸くする */
    height: 50px;               /* ヘッダーの高さを設定 */
}

/* ボディーのスタイリング */
body {
    margin-top: 70px;           /* ヘッダーの高さ分、ボディーにマージンを追加 */
}

/* ロゴのスタイリング */
.navbar-brand {
    position: absolute;         /* ロゴの位置を絶対位置に設定 */
    left: 50%;                  /* ロゴのX座標を中央に設定 */
    transform: translateX(-20%);/* ロゴを中央に配置するためにX方向に50%移動 */
    width: 100px;               /* ロゴの幅を設定 */
    height: auto;               /* ロゴの高さを自動調整 */
}

.navbar-brand img {
    width: 59%;                /* ロゴの画像の幅を100%に設定 */
    height: auto;               /* 画像の高さを自動調整 */
}