/* logo.css */

/* ロゴのスタイリング */
.navbar-brand {
    display: flex;              /* フレックスボックスを使用して中央配置 */
    justify-content: center;    /* 水平方向の中央揃え */
    align-items: center;        /* 垂直方向の中央揃え */
    height: 100%;               /* 高さを100%に設定（必要に応じて調整） */
}

.navbar-brand img {
    height: 100px;              /* ロゴの高さを調整（必要に応じて変更） */
    transition: transform 0.3s ease-in-out;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}
